.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  h5 {
    color: var(--arc-logo-text);
    margin: 0;
  }
}

@media (max-width: 599px) {
  .logo-container h5 {
    display: none;
  }
}
a {
  text-decoration: none;
}
